.empty-background span {
  background-color: #f80707; /* or any other color you prefer for an empty populationName */
}

.data-background span {
  background-color: green; /* or any other color you prefer for a non-empty populationName */
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 50%; /* Rend le bouton circulaire */
}


/* Ajoutez le style pour la classe empty-color */
.empty-color {
  background-color: red; /* Couleur rouge pour le bouton lorsque la valeur est "Empty Data" */
  /* Ajoutez d'autres styles si nécessaire */
}


/* Add this to your component's CSS file */
.custom-button {
  font-size: 10px;
  background-color: #00af00;
  /* Adjust the font size as needed */
}



/* CSS to hide the cells of columns that are not displayed */
.hide-column {
  display: none;
}
.fill-space-column {
  width: 100%; /* Remplit l'espace disponible */
}

.expand-column {

  flex: 20; /* Augmentez encore plus la valeur flex pour accorder plus d'espace à ces colonnes */
  white-space: normal;
  overflow: visible;
  word-wrap: break-word;
  padding: 10px; /* Ajoutez un peu de padding pour un meilleur espacement */
  }

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.add-button {
  align-self: flex-end;
  background-color: #0a53be;
}

.example-button-row {
  display: flex;
  justify-content: flex-end; /* Aligner à droite */

}
.details
{
  background-color: #555555;
}
.add
{
  background-color: #555555;
}


.update{
  background-color: #523e02;
}


