<mat-card>
  <mat-card-header class="example-header-container">
    <div class="example-header-content">
      <h1>Registration</h1>
    </div>
  </mat-card-header>
  <mat-card-content class="example-flex-container">
    <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">

      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="id" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" >
      </mat-form-field>
      <mat-radio-group formControlName="gender" aria-label="Select an option">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      <!-- form fields... -->
      <section class="example-button-container">
        <div class="example-button-row">
          <button mat-stroked-button color="primary">Register</button>
          <a routerLink="/login" mat-stroked-button color="primary">Back to Login</a>
        </div>
      </section>
    </form>
  </mat-card-content>
</mat-card>
